// **************************************************
//
// MUELLER
// modular grid system
//
// _default.scss
//
// default styles for all media
//
// **************************************************

 @import "zen-grids";
  $zen-gutters: 5px; 
  $zen-columns: 24; 



body {
    font-family: Bliss-Light;
    font-weight: normal;
    color: rgb(66, 68, 87);
    background: #fbfbfb;
    margin: 0; padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: auto;
    div#wrapper {
        width: 100%;
        position: absolute;
        top: 0;
    }
}

#hero {
	@include zen-grid-container();
	width: 100%;
	padding: 8% 10% 18% 10%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background-image: url("../img/hero.jpg");
    @include background-size(cover); 
    background-position: centre right;
    color: #fff;

    div {
		@include zen-grid-item(12, 2);
	    height: 316px;
	    min-width: 500px;
	    
	    h1 {
	    	width: 100%;
	    	padding-top: 13.75%;
    		background: url("../img/ggw-logo.png") no-repeat;
		    @include background-size(contain); 
			text-indent: 1000%;
			white-space: nowrap;
			overflow: hidden;
			margin: 0;
	    }
	    h2 {
	    	margin: 1.25em 0 1.5em 0;
	    	font-family: Bliss-Light;
	    	text-transform: uppercase;
	    	font-weight: light;
	    	width: 100%;
	    	letter-spacing: 1px;
	    	margin: 0.1em 0 0.55em 0;
	    	strong {
		    	font-family: Bliss-Bold;
	    	}
	    }
	    p {
	    	line-height: 1.75em;
	    }
	    .button {
		    display: block;
	  		float: left;
			clear: both;
			height: 40px;
			line-height: 40px;
			margin-top: 10px;
			font-family: Bliss-Light;
			font-size: 20px;
			letter-spacing: 1px;
			border: 2px solid rgb(0, 72, 153);
    		@include border-radius(3px);
			background-color: rgb(26, 112, 208);
			text-align: left;
			padding: 0 40px 0 10px;
			color: rgb(255, 255, 255);
			cursor: pointer;
			text-decoration: none;
			&.play {
				background-image: url("../img/play.png");
				background-position: 95% 49%;
				background-size: 17.5%;
				background-repeat: no-repeat;
			}
	    }
    }
}

br {
	clear: both;
}

#about {
	@include zen-grid-container();
	width: 100%;
	padding: 3% 0 6% 0;
    color: rgb(66, 68, 87);


	p.subtitle {
		@include zen-grid-item(18, 4);
		font-size: 2.25em;
		line-height: 1.5em;
		text-align: center;
		margin-bottom: 1.75em;
	}

	div.left {
		@include zen-grid-item(8, 5);
		@include zen-new-row();
		h3 {
			font-family: Brandon-Bold;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
		p {
		line-height: 1.5em;
		}
		a {
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-family: Bliss-Bold;
			padding-top:0.65em;		
		}
	}
	div.right {
		@include zen-grid-item(7, 14);
		-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
		-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
		box-shadow: inset 0 0 12px rgba(0,0,0,.15);
		background: url('../img/map.png') rgb(229, 229, 231);
  		background-repeat: no-repeat;
  		background-size: 85% auto;
  		background-position: center 75%;
  		padding: 0 0 17.5% 0;
  		h3 {
  			margin: 0 auto;
  			text-align: center;
			line-height: 2.25em;
			font-family: Bliss-Italic;
			font-size: 2em;
  		}
	}
}

#testimonial {
	@include zen-grid-container();
	padding: 5% 10% 6% 10%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background-image: url("../img/testimonial.jpg");
    @include background-size(cover); 
    color: #fff;
    	p.quote {
    		@include zen-grid-item(16, 2);
    		font-family: Bliss-Light;
    		font-style: Italic;
			font-size: 1.5em;
			letter-spacing: 1px;
			line-height: 1.75em;
    		text-shadow: 0 0 12px rgba(0,0,0,.75);
    		min-width: 500px;
    	}
    	img {
	    	@include zen-grid-item(2, 2);
	    	@include zen-new-row();

		}
		p.details {
			@include zen-grid-item(8, 4);
			padding-left: 15px;
			letter-spacing: 1px;
			span.name {
				font-size: 1.5em;
				line-height: 1.5em;
			}
			span.position {
				font-family: Bliss-Italic;
				line-height: 1.5em;
				font-size: 0.65em; 
				margin-left: 2.25em;
				overflow: auto;
				display: inline-table;
			}
		}
    }

#talks {
	width: 100%;
	padding: 5% 0 2.5% 0;
    color: rgb(66, 68, 87);  
    
    h5 {
    	font-family: Brandon-Bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #004899;
		margin: 0.5em auto;
		text-align: center;
    }
    h4 {
    	font-size: 28px;
		color: #424457;
		margin: 0 auto 0.75em auto;
		text-align: center;
    } 
    hr {
    	width: 15%;
    	color: #828282;
		background-color: #828282;
		height: 2px;
		margin-bottom: 3em;
    }
    div {
    width: 87.5%;
    margin: 1em auto;
	@include zen-grid-container();
   	@include zen-new-row();

    }
    a {
    text-decoration: none;
    text-shadow: 0 0 12px rgba(0,0,0,.75);

		span.name {
    		font-family: Brandon-Bold;
    		font-size: 0.75em;
    		text-transform: uppercase;
    		letter-spacing: 0.5px;
    		padding-left: 1.35em;
    		top: 1em;
    		position: relative;
    	}

    	span.title {
    		font-family: Bliss-Light;
    		font-size: 1.25em;
    		letter-spacing: 1px;
    		padding-left: 0.75em;
    		line-height: 2.4em;
    		padding-right: 0.75em;
    	}
    }
    a.one {
		@include zen-grid-item(6, 1);
    }
    a.two {
		@include zen-grid-item(6, 7);
    }
    a.three {
		@include zen-grid-item(6, 13);
    }        
    a.four {
		@include zen-grid-item(6, 19);
    }     
    div.video {
    	width:90%;
    	padding-bottom: 52.25%;
    	color: #fff;
    	&.sebastian {
			background-image: url("../img/video-sebastian.jpg");
	    	@include background-size(100% 100%);     
	    	&:hover {
				background-image: url("../img/video-sebastian-h.jpg");	    	
	    	}   	    	
    	}
    	&.zach {
			background-image: url("../img/video-zach.jpg");
	    	@include background-size(100% 100%);   
	    	&:hover {
				background-image: url("../img/video-zach-h.jpg");	    	
	    	}   	    	   
    	}    
    	&.josef {
			background-image: url("../img/video-josef.jpg");
	    	@include background-size(100% 100%);   
	    	&:hover {
				background-image: url("../img/video-josef-h.jpg");	    	
	    	}     	    	  
    	}    
    	&.kai {
			background-image: url("../img/video-kai.jpg");
	    	@include background-size(100% 100%);     
	    	&:hover {
				background-image: url("../img/video-kai-h.jpg");	    	
	    	}     	    	
    	}  
    	&.stacey {
			background-image: url("../img/video-stacey.jpg");
	    	@include background-size(100% 100%);
	    	&:hover {
				background-image: url("../img/video-stacey-h.jpg");	    	
	    	}     
    	}
    	&.rahn {
			background-image: url("../img/video-rahn.jpg");
	    	@include background-size(100% 100%);
	    	&:hover {
				background-image: url("../img/video-rahn-h.jpg");	    	
	    	}     
    	}   
    	&.bobzin {
			background-image: url("../img/video-bobzin.jpg");
	    	@include background-size(100% 100%);
	    	&:hover {
				background-image: url("../img/video-bobzin-h.jpg");	    	
	    	}     
    	}       	 	      	      	    		
    }       
}

#testimonial-two {
	width: 90%;
	margin: 0 auto;
	padding: 2.5% 0 6.5% 0;
    color: rgb(66, 68, 87);  
    @include zen-grid-container();
    
    h5 {
    	font-family: Brandon-Bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #004899;
		margin: 0.5em auto;
		text-align: center;
    }
    h4 {
    	font-size: 28px;
		color: #424457;
		margin: 0 auto 0.75em auto;
		text-align: center;
    } 
    hr {
    	width: 15%;
    	color: #828282;
		background-color: #828282;
		height: 2px;
		margin-bottom: 2em;
    }
    div {
    	div {
    		width: 90%;
    		margin: 0 auto;

    		p {
    		font-family: Bliss-Light;
    		font-style: italic;
    		letter-spacing: 0.5px;
    		font-size: 1.25em;
    		line-height: 1.5em;
    		margin: 1em auto;
    		}
    		img {
    		vertical-align: middle;
    		float: left;
    		display: inline;
    		width: 25%;
    		}
    		p.details {
	    		display: inline;
	    		float: left;
	    		font-style: normal;
	    		vertical-align: middle;
	    		margin: 0 auto;
	    		
	    		span.name {
	    			margin-left: 1.5em;
	    			font-size: 0.9em;
	    			line-height: 1em;
	    			font-family: Bliss-Bold;
	    			
	    		}
	    		span.position {
	    			margin-left: 1.85em;
	    			font-family: Brandon-Bold;
	    			text-transform: uppercase;
	    			line-height: 1em;
	    			font-size: 0.75em;
	    		}
    		}

    	}

    	&.one {
    	@include zen-grid-item(8, 1);
    	}
    	&.two {
    	@include zen-grid-item(8, 9);
    	}
    	&.three {
    	@include zen-grid-item(8, 17);
    	}
    }
}

hr {
	width: 87.5%;
	margin: 0 auto;
    color: #828282;
	background-color: #828282;
	height: 1px;
	border: 0;
	&.clear {
	margin-bottom: 5%;
	}
}

#thanks {
	width: 90%;
	margin: 0 auto;
	padding: 5% 0 0% 0;
    color: rgb(66, 68, 87);  
    
    h5 {
    	font-family: Brandon-Bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #004899;
		margin: 0.5em auto;
		text-align: center;
    }
    h4 {
    	font-size: 28px;
		color: #424457;
		margin: 0 auto 0.75em auto;
		text-align: center;
    } 
    hr {
    	width: 15%;
    	color: #828282;
		background-color: #828282;
		height: 2px;
		margin-bottom: 2em;
    }        
    p {
    	margin: 0.5em auto;
		text-align: center;
		width: 65%;
    }
    img {
	    margin: 3em 10%;
	    width: 80%;
	    max-width: 1000px;


    }
}

#volunteer {
	width: 100%;
	padding-bottom: 30%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background-image: url("../img/volunteer.jpg");
    @include background-size(cover); 
    color: #fff;
    position: relative;
    overflow:hidden;
	
	div.blur {
		width: 50%;
		margin: 0 35% 0 15%;
		background-image: url("../img/volunteer.jpg");
		background-size: 200% 105%;
		background-position: 30% 0;
		padding-bottom: 30%;
		position: absolute;
		top: 0;
	}
	div.content {
		width: 40%;
		margin: 0 35% 0 15%;
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		height: 100%;
		padding: 4% 5%;
		
		h5 {
	    	width: 70%;
			padding: 0 0 7.5% 0;
			margin: 0;
			background: url("../img/ggw-logo.png") no-repeat;
	    	@include background-size(contain); 
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
	    }

	    h6 {
			font-family: Brandon-Bold;
			text-transform: uppercase;
			font-size: 1.6em;
			letter-spacing: 1px;
			padding: 0.75em 0 0 0;
			margin: 0;
	    }

		.button {
		    display: block;
	  		float: left;
			clear: both;
			height: 1.75em;
			line-height: 1.75em;
			font-family: Bliss-Light;
			letter-spacing: 1px;
			border: 2px solid #fff;
    		@include border-radius(3px);
			background-color: transparent;
			text-align: left;
			padding: 0.125em 0.5em;
			color: rgb(255, 255, 255);
			cursor: pointer;
			text-decoration: none;
			}
	    }	
	}

#register {
	width: 90%;
	margin: 0 auto;
	padding: 5% 0 5% 0;
    color: rgb(66, 68, 87);  
    
    h5 {
    	font-family: Brandon-Bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #004899;
		margin: 0.5em auto;
		text-align: center;
    }
    h4 {
    	font-size: 28px;
		color: #424457;
		margin: 0 auto 0.75em auto;
		text-align: center;
    } 
    hr {
    	width: 15%;
    	color: #828282;
		background-color: #828282;
		height: 2px;
		margin-bottom: 2em;
    }        
    p {
    	margin: 0.5em auto;
		text-align: center;
		width: 65%;
    }	
    form {
    	margin: 1em auto;
    	text-align: center;

    	input {
    		margin: 1em 0.5em;
    		font-size: 1em;
    		line-height: 1.5em;
    		height: 1.5em;
    		@include border-radius(4px);
    		padding: 0.25em 0.75em;
    		letter-spacing: 1px;
    		width: auto;
    	}
    	input[type="submit"] {
    		color: #fff;
    		border: 2px solid rgb(0, 72, 153);
			background-color: rgb(26, 112, 208);
			padding: 0.25em 0.75em;
			line-height: 1.65em;
			height: 2.25em;
			cursor: pointer;
    	}
    }
}