---
title: The Gotta Be Good Tour 2014 | GiveGetWin
description: ...
page_class: template-index
---

.section.template-hero
  = partial :page_header

  .section-grid
    %h1 
      %span Highlights from the
      %span Give Get Win Tour
      %span 2014

    %h3
      Dr. Josh Spodek at NYU Stern School of Business

.section-grid.template-content
  .section
    .text
      %h2 A Magnificent Headline
      %h3= lorem.sentence
      %p= lorem.paragraph
    .image

  .section.with_background
    .testimonial
      .image
      .text
        %blockquote= lorem.sentence
        %cite
          %strong Joe Smith,
          %span Some place

